*{
	font-family: sans-serif;
	background-color: rgb(240,240,240);
	font-size: 30px;
	
}

input{
	border-radius: 0px !important;
}

input[type=submit]{
	cursor:pointer;
}
input[type=checkbox]{
	transform: scale(3);
}


button:hover{
	cursor: pointer;
}

#header{
	width: 100% !important;
	height: 100%;
	border: 0px solid;

}
#login{
	width: 100%;
	
}

.tab-login{
	width: 90%;
	padding: 3px;
}
.login-sub{
	border:none;
	background-color: rgb(43,178,221);
	padding: 8px;
	color: white;
	margin: 0 auto;
	cursor: pointer;
}
.btn-def{
	border: none;
	padding: 5px;
	background-color: rgb(43,178,221);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
	color: #fff;
	font-size: 30px;
}

.inp-def{
	border: none;
	padding: 0px 0 ;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
	background-color: #fff;
	padding-left: 5px;
	font-size: 30px;
	overflow: hidden;
	text-overflow: ellipsis;

}


.shadow{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.left{
	float: left !important;
}
.right{
	float: right !important;
}
.txt-rigth{
	text-align: right !important;
}
.txt-left{
	text-align: left;
}
.center{
	text-align: center !important;
}
.w-33{
	width: 30%;
}
.w-66{
	width: 65%;
}
.w-100{
	width: 100%;
}
.w-90{
	width: 90%;
}
.poinet{
	cursor: pointer;
}

.margin-10{
	margin: 10px;
}
.margin--8{
	margin: -8px;
}

.pt-10{
	padding-top: 50px;
}
.p-10{
	padding:10px;
}
.bold{
	font-weight: bold;
}
.noBold{
	font-weight: 100;
}

.d-inline{
	display: inline !important;
}

.red{
	color: red !important;
}
.blue{
	color: rgb(22,143,190) !important;
}

.white{
	color:#fff !important;
}
.black{
	color:black;
}

.b-white{
	background-color: #fff;
}
.noUnderline{
	text-decoration: none;
}
li{
	font-size: 30px;
}


.txt-24{
	font-size: 24px;
}
.txt-18{
	font-size: 18px;
}
.txt-48{
	font-size: 48px;
}
.ml-5{
	margin-left: 5px;
}

.ml-15{
	margin-left: 15px;
}
.mr-5{
	margin-right: 5px;
}

.mt-10{
	margin-top: 10px;
}
.mt-70{
	margin-top: 70px;
}
.mt-0{
	margin-top: 0px;
}
.mb-20{
	margin-bottom: 20px;
}


.menu{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 2024px;
	box-shadow: 100px 8px 18px 100px rgba(0,0,0,0.4);
	width: 90%;
	display: none;
}

@media screen and (min-width: 320px) and (max-width:1024px){

.inp-def{
	height: 100px !important;
}
.btn-def{
	height: 100px !important;
}

}